<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>SHUZHI AI</title>
    <script type="text/javascript" src="http://www.jq22.com/demo/ribbon201904242338/ribbon.js"></script>
    <link
            href="/static/css/app.e87632e1f73e3d0334fbb1810ac74258.css" rel="stylesheet"/>
</head>
<body>
<div id="app"></div>
<div class="content content--canvas"></div>
<script type="text/javascript" src="/static/js/manifest.4cc70b445fc9554772fd.js">
</script>
<script type="text/javascript" src="/static/js/vendor.5a305e84f0faa3bb87e8.js"></script>
<script type="text/javascript"
        src="/static/js/app.b41593802ed5794d1cfb.js"></script>
</body>
</html>