
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SHUZHI AI</title>
    <script  type="text/javascript" src="http://www.jq22.com/demo/ribbon201904242338/ribbon.js"> </script> <link
        href="./static/css/app.f4269eea97af6d7534ace102e96e352c.css" rel="stylesheet" />
        </head><body><div id="app"></div><div class="content content--canvas"></div>
        <script type="text/javascript" src="./static/js/manifest.705fb48dc8f380a2bf9a.js">
    </script>
    <script type="text/javascript" src="./static/js/vendor.5a305e84f0faa3bb87e8.js"> </script> <script type="text/javascript"
        src="./static/js/app.af0e0acbb745d12e22c5.js"> </script> </body> </html>