<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuzhi.mapper.MaterialMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.shuzhi.entity.Material" id="materialMap">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="type" column="type" />
        <result property="materialMenuId" column="material_menu_id" />
        <result property="creationTime" column="creation_time" />
        <result property="path" column="path" />
    </resultMap>

</mapper>